<section class="sources">
  <h2>Sources</h2>

  <% @source_codes.each do |source_code| %>
    <% source = @sources.find { |s| s["code"] == source_code } %>
    <div class="source">
      <div class="cover">
        <img src="<%= source['cover'] %>" />
      </div>
      <div class="metadata">
        <p>
          <%= source["title"] %>
        </p>
        <p>
          &mdash; <%= source["author"] %>
        </p>
        <p><%= source["blurb"] %></p>
        <p>
          <a target="_blank" href="<%= source["buy_link"] %>">Buy</a>
          &nbsp;-&nbsp;
          <a target="_blank" href="<%= source["borrow_link"] %>">Borrow</a>
        </p>
      </div>
    </div>
  <% end %>
</section>

