<!DOCTYPE html>

<html lang='en'>
  <head>
    <%= render_partial(:_head) %>
  </head>
  <body>
    <header>
      <%= render_partial(:_header) %>
    </header>
    <main>
      <aside>
        <%= render_partial(:_sidebar_left) %>
      </aside>
      <section>
        <article class="splash">
          <figure>
            <img src="./<%= pages[0]['img_lg'] %>" />
          </figure>
          <hgroup>
            <h1 class="<%= pages[0]['hed'].chars.length > 30 ? "sm" : "" %>">
              <%= pages[0]['hed'] %>
            </h1>
            <h2>
              <%= pages[0]['dek'] %>
            </h2>
          </hgroup>
          <address>
            by </span><%= pages[0]['byline'] %>
          </address>
          <% pages[0]['grafs'].each do |graf| %>
            <p>
              <%= graf %>
            </p>
          <% end %>
          <p>
            <a href="./<%= pages[0]['path'] %>">
              Continue &#10142;
            </a>
          </p>
        </article>

        <div class="article-row">
          <% if pages[1] %>
            <article class="medium">
              <figure>
                <img src="./<%= pages[1]['img_sm'] %>" />
              </figure>
              <hgroup>
                <h1>
                  <%= pages[1]['hed'] %>
                </h1>
                <h2><%= pages[1]['dek'] %></h2>
              </hgroup>
              <address>
                by </span><%= pages[1]['byline'] %>
              </address>
              <% pages[1]['grafs'].each do |graf| %>
                <p>
                  <%= graf %>
                </p>
              <% end %>
              <a href="./<%= pages[1]['path'] %>">
                Continue &#10142;
              </a>
            </article>
          <% end %>
          <% if pages[2] %>
            <article class="medium">
              <figure>
                <img src="./<%= pages[2]['img_sm'] %>" />
              </figure>
              <hgroup>
                <h1>
                  <%= pages[2]['hed'] %>
                </h1>
                <h2><%= pages[2]['dek'] %></h2>
              </hgroup>
              <address>
                by </span><%= pages[2]['byline'] %>
              </address>
              <% pages[2]['grafs'].each do |graf| %>
                <p>
                  <%= graf %>
                </p>
              <% end %>
              <a href="./<%= pages[2]['path'] %>">
                Continue &#10142;
              </a>
            </article>
          <% end %>
        </div>
        <% pages.slice(3..-1)&.each do |page| %>
          <article class="small">
            <figure>
              <img src="./<%= page['img_sm'] %>" />
            </figure>
            <hgroup>
              <h1>
                <%= page['hed'] %>
              </h1>
              <h2>
                <%= page['dek'] %>
              </h2>
            </hgroup>
            <address>
              by </span><%= page['byline'] %>
            </address>
            <% page['grafs']&.first&.tap do |graf| %>
              <p>
                <%= graf %>
              </p>
            <% end %>
            <a href="./<%= page['path'] %>">
              Continue &#10142;
            </a>
          </article>
        <% end %>
      </section>
      <aside>
        <%= render_partial(:_sidebar_right) %>
      </aside>
    </main>
    <footer>
      <%= render_partial(:_footer) %>
    </footer>
  </body>
</html>

